* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  background-color: black;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
}

.menu {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu .home {
  display: flex;
  align-items: center;
  background-color: green;
}

.menu .home i {
  margin-right: 5px;
  color: white;
}

.menu .home a {
  color: white;
  text-decoration: none;
}

.menu li {
  color: white;
  letter-spacing: 1px;
  padding: 10px;
  position: relative;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.694);
}

.submenu {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  top: calc(100% + 5px);
  left: 0;
  z-index: 1000;
}

.services:hover .submenu,
.submenu:hover {
  display: block;
}

.submenu li {
  padding: 5px 0;
}

.submenu li a {
  color: white;
  text-decoration: none;
}

.submenu li:hover {
  background-color: rgba(128, 128, 128, 0.63);
}

.banner {
  background-image: url("https://www.w3schools.com/w3images/sailboat.jpg");
  width: 100%;
  position: relative;
  min-height: 500px;
  max-height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background-position: center;
  z-index: 1;
  padding: 20px;
}

.myButton {
  background-color: black;
  border: none;
  color: white;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  position: absolute;
  top: 380px;
  left: 20px;
  cursor: pointer;
}

.myButton:hover {
  background-color: #3e8e41;
}
.search-icon {
  margin-left: auto;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.search-icon:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.search-icon i {
  font-size: 1rem;
}
.ourteam {
  text-align: center;
}
.ourteam h1 {
  padding-top: 30px;
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.ourteam h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: lighter;
}
.users {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.people {
  margin: 10px;
}

.people img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
