* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);

  .menu {
    background-color: black;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;

    li {
      background-color: white;

      letter-spacing: 1px;
      padding: 10px;
      &:hover {
        background-color: rgba(128, 128, 128, 0.63);
      }
    }
  }
}
