* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  background-color: black;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu .home {
  display: flex;
  align-items: center;
  background-color: green;
}

.menu .home i {
  margin-right: 5px;
  color: white;
}

.menu .home a {
  color: white;
  text-decoration: none;
}

.menu li {
  color: white;
  letter-spacing: 1px;
  padding: 10px;
  position: relative;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.694);
}

.submenu {
  display: none;
  position: absolute;
  background-color: black;
  padding: 10px;
  top: calc(100% + 5px);
  left: 0;
}

.services:hover .submenu,
.submenu:hover {
  display: block;
}

.submenu li {
  padding: 5px 0;
}

.submenu li a {
  color: white;
  text-decoration: none;
}

.submenu li:hover {
  background-color: rgba(128, 128, 128, 0.63);
}
